JWT_SECRET_KEY=your-secret-key-here

USER_DATABASE_URL=postgresql://userservice:your-user-password@user-postgres:5432/userdb
PRODUCT_DATABASE_URL=postgresql://productservice:your-product-password@product-postgres:5432/productdb
ORDER_DATABASE_URL=postgresql://orderservice:your-order-password@order-postgres:5432/orderdb
CART_DATABASE_URL=postgresql://cartservice:your-cart-password@cart-postgres:5432/cartdb